@import 'mixin';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // height: 100vh;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(187, 187, 187), transparent), repeating-linear-gradient(75deg, transparent 0px, transparent 96px, rgba(231, 231, 231, 0.5) 96px, rgba(231, 231, 231, .5) 192px), repeating-linear-gradient(-135deg, transparent 0px, transparent 96px, rgba(231, 231, 231, .5) 96px, rgba(231, 231, 231, .5) 192px);
    // background: linear-gradient(45deg, rgba(204, 204, 204, 0.3), transparent), repeating-linear-gradient(75deg, transparent 0px, transparent 96px, rgba(219, 219, 219, 0.5) 96px, rgba(219, 219, 219, .5) 192px), repeating-linear-gradient(-135deg, transparent 0px, transparent 96px, rgba(219, 219, 219, .5) 96px, rgba(219, 219, 219, .5) 192px, transparent 192px, transparent 220px, rgba(219, 219, 219, .5) 220px, rgba(219, 219, 219, .5) 312px);
    @include small-device {
        font-size: 13px;
    }
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

a {
    color: inherit;
}

address {
    margin-bottom: 0!important;
}