@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.imgshadow {
  -webkit-box-shadow: 0 2px 10px 0 rgba(5, 5, 5, 0.6);
          box-shadow: 0 2px 10px 0 rgba(5, 5, 5, 0.6);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* height: 100vh; */
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* font-weight: 500; */
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Literata', serif; */
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: repeating-linear-gradient(135deg, rgba(138, 138, 138, 0.22) 0px, rgba(138, 138, 138, 0.22) 96px, rgba(198, 198, 198, 0.22) 96px, rgba(198, 198, 198, 0.22) 192px), repeating-linear-gradient(45deg, rgba(37, 37, 37, 0.17) 0px, rgba(37, 37, 37, 0.17) 89px, rgba(175, 175, 175, 0.17) 89px, transparent 89px, transparent 130px, rgba(175, 175, 175, 0.17) 178px), linear-gradient(190deg, rgb(239, 239, 239), rgb(224, 224, 224)); */
  /* background: repeating-linear-gradient(135deg, rgba(24, 24, 24, 0.08) 0px, rgba(24, 24, 24, 0.08) 103px, rgba(126, 126, 126, 0.08) 103px, rgba(126, 126, 126, 0.08) 206px), repeating-linear-gradient(45deg, rgba(100, 100, 100, 0.22) 0px, rgba(100, 100, 100, 0.22) 137px, rgba(223, 223, 223, 0.22) 137px, rgba(223, 223, 223, 0.22) 274px), linear-gradient(90deg, rgb(58, 18, 172), rgb(15, 236, 243)); */
  /* background: repeating-linear-gradient(90deg, rgba(167, 167, 167, 0.13) 0px, rgba(167, 167, 167, 0.13) 69px, rgba(143, 143, 143, 0.13) 69px, rgba(143, 143, 143, 0.13) 138px), repeating-linear-gradient(90deg, rgba(77, 77, 77, 0.23) 0px, rgba(77, 77, 77, 0.23) 90px, rgba(24, 24, 24, 0.23) 90px, rgba(24, 24, 24, 0.23) 180px), repeating-linear-gradient(0, rgba(125, 125, 125, 0.22) 0px, rgba(125, 125, 125, 0.22) 62px, rgba(8, 8, 8, 0.22) 62px, rgba(8, 8, 8, 0.22) 124px), repeating-linear-gradient(0, rgba(177, 177, 177, 0.24) 0px, rgba(177, 177, 177, 0.24) 54px, rgba(62, 62, 62, 0.24) 54px, rgba(62, 62, 62, 0.24) 108px), linear-gradient(90deg, hsl(113, 0%, 3%), hsl(113, 0%, 3%)); */
  background: linear-gradient(45deg, #747575, transparent), repeating-linear-gradient(60deg, rgba(163, 167, 166, 0.5) 0%, rgba(216, 219, 219, 0.5) 7%), repeating-linear-gradient(-60deg, rgba(163, 167, 166, 0.5) 0%, rgba(216, 219, 219, 0.5) 7%);
  /* , transparent 7%, transparent 8%, rgb(230, 231, 231) 8%, rgb(206, 207, 207) 10%, transparent 10%, transparent 15%), rgb(218, 219, 219) repeating-linear-gradient(-60deg, rgba(170, 172, 172, 0.5) 0%, rgba(200, 202, 202, 0.5) 5%, transparent 5%, transparent 7%, rgba(217, 219, 219, 0.5) 7%, rgba(196, 197, 197, 0.5) 9%, transparent 9%, transparent 14%, rgba(126, 126, 126, 0.5) 14%, rgba(212, 212, 212, 0.5) 21%, transparent 21%, transparent 24%); */
}

@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

h3 {
  border-bottom: 5px solid green;
}

address {
  margin-bottom: 0 !important;
}
/*# sourceMappingURL=main.css.map */