@import 'mixin';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // height: 100vh;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(116, 117, 117), transparent), repeating-linear-gradient(75deg, transparent 0px, transparent 96px, rgba(198, 198, 198, .5) 96px, rgba(198, 198, 198, .5) 192px), repeating-linear-gradient(-135deg, transparent 0px, transparent 96px, rgba(198, 198, 198, .5) 96px, rgba(198, 198, 198, .5) 192px);
    // background: repeating-linear-gradient(135deg, rgba(138, 138, 138, .5) 0px, rgba(138, 138, 138, .5) 96px, rgba(198, 198, 198, 0.22) 96px, rgba(198, 198, 198, 0.22) 192px), repeating-linear-gradient(45deg, rgba(37, 37, 37, 0.17) 0px, rgba(37, 37, 37, 0.17) 89px, rgba(175, 175, 175, 0.17) 89px, transparent 89px, transparent 130px, rgba(175, 175, 175, 0.17) 178px), linear-gradient(190deg, rgb(239, 239, 239), rgb(224, 224, 224));
    // background: repeating-linear-gradient(135deg, rgba(24, 24, 24, 0.08) 0px, rgba(24, 24, 24, 0.08) 103px, rgba(126, 126, 126, 0.08) 103px, rgba(126, 126, 126, 0.08) 206px), repeating-linear-gradient(45deg, rgba(100, 100, 100, 0.22) 0px, rgba(100, 100, 100, 0.22) 137px, rgba(223, 223, 223, 0.22) 137px, rgba(223, 223, 223, 0.22) 274px), linear-gradient(90deg, rgb(58, 18, 172), rgb(15, 236, 243));
    // background: repeating-linear-gradient(90deg, rgba(167, 167, 167, 0.13) 0px, rgba(167, 167, 167, 0.13) 69px, rgba(143, 143, 143, 0.13) 69px, rgba(143, 143, 143, 0.13) 138px), repeating-linear-gradient(90deg, rgba(77, 77, 77, 0.23) 0px, rgba(77, 77, 77, 0.23) 90px, rgba(24, 24, 24, 0.23) 90px, rgba(24, 24, 24, 0.23) 180px), repeating-linear-gradient(0, rgba(125, 125, 125, 0.22) 0px, rgba(125, 125, 125, 0.22) 62px, rgba(8, 8, 8, 0.22) 62px, rgba(8, 8, 8, 0.22) 124px), repeating-linear-gradient(0, rgba(177, 177, 177, 0.24) 0px, rgba(177, 177, 177, 0.24) 54px, rgba(62, 62, 62, 0.24) 54px, rgba(62, 62, 62, 0.24) 108px), linear-gradient(90deg, hsl(113, 0%, 3%), hsl(113, 0%, 3%));
    // background: linear-gradient(45deg, rgb(116, 117, 117), transparent), repeating-linear-gradient(60deg, rgba(163, 167, 166, .5) 0%, rgba(216, 219, 219, .5) 7%), repeating-linear-gradient(-60deg, rgba(163, 167, 166, .5) 0%, rgba(216, 219, 219, .5) 7%);
    @include small-device {
        font-size: 13px;
    }
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

a {
    color: inherit;
}

address {
    margin-bottom: 0!important;
}