@import 'mixin';
// *************************MAIN******************************************
#main {
    h3 {
        margin-bottom: 20px;
    }
}

#about,
#services,
#team {
    padding: 75px 0;
    @include small-device {
        padding: 40px 20px
    }
}


/* #main {
    padding-bottom: 2em;
    padding-top: 2rem;
} */

main .row {
    padding: 50px 10px;
    background: rgba(244, 245, 245, 0.79);
    border-radius: 2px;
    @include small-device {
        padding: 20px 5px;
    }
}

.bg-img1 {
    background-image: url(../img/about3.jpg);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-img2 {
    background-image: url(../img/volvo.jpg);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.bg-img1::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

div.bg-img2::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

div.darken-pseudo>* {
    z-index: 5;
}

div.bg-img1>*,
div.bg-img2>* {
    position: relative;
    z-index: 2;
}

div.bg-img1,
div.bg-img2 {
    position: relative;
}


/*about*/


/*services*/

#services ul {
    list-style-type: none;
}


/*team*/

#team h3 {
    width: 50%;
    @include small-device {
        display: block;
        width: 100%;
        text-align: left;
    }
    // margin-bottom: 50px;
}

.emp-card {
    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    // background: #0a111b;
    border: 1px solid rgb(192, 192, 192);
    color: #0a111b;
    padding: 20px 15px;
    img {
        width: 80%;
    }
}

// #team div.col:nth-of-type(odd) {
//     border-top: 2px solid black;
//     border-left: 2px solid black;
// }
// #team div.col:nth-of-type(even) {
//     border-bottom: 2px solid black;
//     // border-left: 2px solid black;
// }
.emp-card h2 {
    margin-top: 15px;
    margin-bottom: 25px;
}

.emp-card h6 {
    margin-bottom: 10px;
    margin-top: 15px;
}