@import 'mixin';
// *************************MAIN******************************************
#main {
    #services h3,
    #about h3 {
        border-bottom: 5px solid green;
    }
    h3 {
        margin-bottom: 20px;
    }
}

#about,
#services,
#team,
#contact {
    padding: 125px 0;
    @include small-device {
        padding: 40px 20px
    }
}


/* #main {
    padding-bottom: 2em;
    padding-top: 2rem;
} */

main .row {
    padding: 50px 10px;
    background: rgba(244, 245, 245, 0.79);
    border-radius: 2px;
    @include small-device {
        padding: 20px 5px;
    }
}

.bg-img1 {
    background-image: url(../img/about3.jpg);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-img2 {
    background-image: url(../img/volvo.jpg);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.bg-img1::after,
section.bg-img2::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

div.darken-pseudo>* {
    z-index: 5;
}

div.bg-img1>*,
section.bg-img2>* {
    position: relative;
    z-index: 2;
}

div.bg-img1,
section.bg-img2 {
    position: relative;
}


/*about*/


/*services*/

#services ul {
    list-style-type: none;
}

#about .row,
#team .row {
    box-shadow: 0 10px 10px -5px rgba(5, 5, 5, 0.6);
}


/*team*/

.emp-card {
    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    // background: #0a111b;
    border: 1px solid rgb(192, 192, 192);
    color: #0a111b;
    padding: 20px 15px;
    img {
        width: 80%;
        @include small-device {
            width: 40%;
        }
    }
    p {
        font-size: 1.2rem;
    }
    p,
    h5 {
        padding: 5px 0;
        margin-bottom: 0!important;
    }
}